[Unit]
Description=Sirius RF Booster Interlock
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/root/etherip-ioc

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/epics-R3.15.5/base/bin/linux-x86_64
Environment=EPICS_BASE=/opt/epics-R3.15.5/base
Environment=EPICS_HOST_ARCH=linux-x86_64
Environment=EPICS_CA_AUTO_ADDR_LIST=YES
Environment=EPICAS_CAS_SERVER_PORT=5100

ExecStart=/usr/bin/procServ -d --chdir /root/etherip-ioc/iocBoot 20202 ./RF-Booster.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
