[Unit]
Description=Sirius RF Booster Interlock
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple
User=iocuser
Group=ioc

WorkingDirectory=/opt/etherip-ioc

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/epics-R3.15.6/base/bin/linux-x86_64
Environment=EPICS_BASE=/opt/epics-R3.15.6/base
Environment=EPICS_HOST_ARCH=linux-x86_64
Environment=EPICS_CA_AUTO_ADDR_LIST=YES

ExecStart=/usr/local/bin/procServ -f --allow -L - --chdir /opt/etherip-ioc/iocBoot 20202 ./RF-Booster.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
